<!-- templates/layouts/auth_base.html -->
{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}BRFN{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  </head>
  <body>
    <main class="auth-page">
      <section class="auth-shell {% block auth_shell_class %}auth-shell--compact{% endblock %}">
        <section class="auth-card {% block auth_card_class %}{% endblock %}">
          {% block content %}{% endblock %}
        </section>
      </section>
    </main>
  </body>
</html>
